.block_1 > ul > li:nth-child(even) {
    color: pink;
}

.block_2 > ul > li:nth-child(odd) {
    font-size: 22px;
}

.block_3 > ul > li:nth-child(2n+4):after {
    content: "!"
}

.block_4 > ul > li:last-child {
    color: purple;
}

.block_5 > ul > li::first-letter {
    font-size: 30px;
    color: red;
}